<div class="flat-general">
	<div class="flat-general__inner inner">
		<div class="flat-general__info">
			<div class="flat-general__params">
			<div class="flat-param">
				<div class="flat-param__title">
					общая площадь
				</div>
				<div class="flat-param__quantity">
					50м <sup>2</sup>
				</div>
			</div>
			<div class="flat-param">
				<div class="flat-param__title">
					жилая площадь
				</div>
				<div class="flat-param__quantity">
					28м
				</div>
			</div>
			<div class="flat-param">
				<div class="flat-param__title">
					площадь кухни
				</div>
				<div class="flat-param__quantity">
					10,5м
				</div>
			</div>
		</div>
		<div class="flat-general__descr">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia adipisci voluptate iure quo similique tempore dignissimos, sequi laborum beatae quam minima temporibus atque numquam perferendis quas, nisi quibusdam maiores nemo.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi vero nostrum culpa laborum similique nulla soluta molestias quisquam ea!</p>
			<p>Lorem, ipsum dolor.</p>
		</div>

		</div>
		<div class="flat-general__map">
			
		</div>
	</div>
</div>