{% import "data/_flats-list.html" as list %}
{% import "components/_flat-info.html" as info %}

<div class="flats-list-wrap">
  <ul class="flats-list">
    {% for item in list.flats %}
      <li class="flats-list__item">
        <a href="#" class="flat-card">
          <figure class="flat-card__img">
            <img src="./img/flats/{{item.img}}.jpg" alt="{{item.img}}"/>
            <div class="flat-card__img-amount">
              <span>{{ item.photos }}</span>
              <span>{{ common.icon('camera') }}</span>
            </div>
          </figure>
          <div class="flat-card__body">
            {{
              info.flatInfo({
                price: item.price,
                currency: item.currency,
                street: item.street,
                under: item.under,
                params: item.params,
                title: item.title,
                date: item.date
              })
            }}
          </div>
        </a>
      </li>
      {%endfor%}
    </ul>
  </div>

{# {% import "data/_flats-list.html" as list %}

<div class="flats-list-wrap">
  <ul class="flats-list">
    {% for item in list.flats %}
      <li class="flats-list__item">
        <a href="" class="flat-card">
          <figure class="flat-card__img">
            <img src="./img/flats/{{item.img}}.jpg" alt="{{item.img}}">
            <div class="flat-card__img-amount">
              <span>{{item.photos}}</span>
              <span>{{common.icon('camera')}}</span>
            </div>
          </figure>
          <div class="flat-card__body flat-info">
            <div class="flat-info__price">
              <span class="flat-info__price-sum">{{item.price}}</span>
              <span class="flat-info__price-currency">{{item.currency}}</span>
            </div>

            <div class="flat-info__street">{{item.street}}</div>
            <div class="flat-info__under">
              <span class="flat-info__under-img">{{common.icon('metro')}}</span>
              <span class="flat-info__under-title">{{item.under}}</span>
            </div>

            <div class="flat-info__params">
              {% for param in item.params %}
                <div class="flat-info__param">
                  <div class="flat-info__param-img">
                    {{common.icon(param.img)}}
                  </div>
                  <div class="flat-info__param-title">{{param.title}}</div>
                </div>
                {%endfor%}
              </div>

              <div class="flat-info__publication">
                <span class="flat-info__publication-title">Дата добавления объекта:
                </span>
                <span class="flat-info__publication-date">{{item.date}}</span>
              </div>
            </div>
          </a>
        </li>
        {%endfor%}
      </ul>

    </div> #}