{% set flats = [
		{
			'price': '20 000',
			'currency': 'грн/мес.',
			'street': 'ул. Тарасовская, 16 ',
			'under': 'Университет',
			'params': [
				{
					'img': 'flat',
					'title': '4-ком.'
				}, {
					'img': 'flat_size',
					'title': '118м2'
				}, {
					'img': 'flat_bed',
					'title': '3'
				}	
			],
			'date': '06.11.2018',
			'photos': '5',
			'img': 'flat1'
		},{
			'price': '$ 1 100',
			'currency': '/мес.',
			'street': 'ул. Костельная, 8',
			'under': 'Майдан Независимости',
			'params': [
				{
					'img': 'flat',
					'title': '4-ком.'
				}, {
					'img': 'flat_size',
					'title': '118м2'
				}, {
					'img': 'flat_bed',
					'title': '3'
				}	
			],
			'date': '29.10.2018',
			'photos': '10',
			'img': 'flat2'
		},{
			'price': '20 000',
			'currency': 'грн/мес.',
			'street': 'ул. Тарасовская, 16 ',
			'under': 'Университет',
			'params': [
				{
					'img': 'flat',
					'title': '4-ком.'
				}, {
					'img': 'flat_size',
					'title': '118м2'
				}, {
					'img': 'flat_bed',
					'title': '3'
				}	
			],
			'date': '06.11.2018',
			'photos': '5',
			'img': 'flat1'
		},{
			'price': '$ 1 100',
			'currency': '/мес.',
			'street': 'ул. Костельная, 8',
			'under': 'Майдан Независимости',
			'params': [
				{
					'img': 'flat',
					'title': '4-ком.'
				}, {
					'img': 'flat_size',
					'title': '118м2'
				}, {
					'img': 'flat_bed',
					'title': '3'
				}	
			],
			'date': '29.10.2018',
			'photos': '10',
			'img': 'flat2'
		}
	] 
%}