.icon-arrow {
  width: NaNem;
  height: 1em;
  fill: #FFFFFF;
}
.icon-camera {
  width: NaNem;
  height: 1em;
  fill: #FFFFFF;
}
.icon-chevron-left {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-chevron-right {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-chevron {
  width: NaNem;
  height: 1em;
  fill: #333333;
}
.icon-fb {
  width: NaNem;
  height: 1em;
  fill: #FFFFFF;
}
.icon-flat {
  width: 1.23em;
  height: 1em;
  fill: #5EB19B;
}
.icon-flat_bed {
  width: 1.2em;
  height: 1em;
  fill: #5EB19B;
}
.icon-flat_size {
  width: 1.32em;
  height: 1em;
  fill: #5EB19B;
}
.icon-in {
  width: NaNem;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: NaNem;
  height: 1em;
  fill: none;
}
.icon-map_point {
  width: NaNem;
  height: 1em;
  fill: #2FA19B;
}
.icon-metro {
  width: 1.65em;
  height: 1em;
  fill: #5EB19B;
}
.icon-user {
  width: NaNem;
  height: 1em;
  fill: initial;
}
